:root{
    font-size: 10px;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
}

.layout{
    display: grid;
    grid-template-areas: 
        "root-note play-grid octave-chart"
        "title     title     title";
    grid-template-columns: 8.75rem 45.625rem 8.75rem;
    grid-template-rows: 44.375rem 11.875rem;
    gap: 6.25rem;
    padding: 30px;
}

.layout div.root-note, div.octave-chart {
    display: grid;
    grid-area: root-note;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(9, 1fr);
    gap: 1px;
}

.layout div.play-grid {
    display: grid;
    grid-area: play-grid;
    background-color: white;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 1px;
}

.layout div.octave-chart {
    grid-area: octave-chart;
    background-color: white;
    gap: 1px;
}

.layout h1.title {
    grid-area: title;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 110px;
    font-style: normal;
    width: 100%;
    text-shadow: white 1px 0 1px;
    margin: 0;
    padding: 0;
}

.grid-item {
    background-color: black;
}